.inventory-list {
    font-size: 1.1em;
}

.inventory-list .inventory-item {
    border-bottom: 1px dotted gray;
}

.inventory-list .inventory-item:last-child {
    border-bottom: none;
}

.inventory-name {
    font-weight: 600;
    color: #337ab7;
    font-size: 1.3em;
    line-height: 100%;
}

.inventory-list .label-item {
    font-weight: 600;
    color: #667b82;
}

.inventory-list .add-date {
    font-style: italic;
}

.inventory-list .inventory-notes {
    line-height: 120%;
}

.button {
    float: right;
}